body{
    background-color: #4b4444;
}

.wrapper{
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

h1{
    color: #ffffff;
    font-family: 'Water Brush';
    font-weight: 700;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: .5em;
}

input{
  display: none;
}

.slider{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    overflow-x: hidden;
    align-items: center;
    cursor: default;
    user-select: none;    
    justify-content: space-between; 
      
}

.memes-div{
  display: flex;
  width: 100%;
  overflow: hidden;  
}

.memes{ 
  display: flex;   
  align-items: center;
}

.meme-img{
    width: 30rem;
    justify-content: space-between;
    transform: translate(0,0);
    margin: 1.3em;
    transition: .4s;     
}


.bg-img{
    width: 100%;    
    background-size: contain;    
}



.slider-buttons{
    align-self: end;
}

  .btn {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(15, 226, 15);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-bottom: 13px;
  }

  .meme-text{
    width: 100%;
    align-self: end;
    display: flex;
    justify-content: space-between;
  }

  
  #btn-1:checked ~ .slider > .memes-div > .memes > .meme-img {
    transform: translate(0,0);  
}
  #btn-2:checked ~ .slider > .memes-div > .memes > .meme-img {
    transform: translate(-110%,0);  
}
  #btn-3:checked ~ .slider > .memes-div > .memes > .meme-img {
    transform: translate(-220%,0);  
}
  #btn-4:checked ~ .slider > .memes-div > .memes > .meme-img {
    transform: translate(-330%,0);  
}
